.consulate {
  background-color: white;
  margin: 5px 0 40px 0;
  padding: 10px 10px;
  width: fit-content;
  border: 2px outset;
}

.num {
  color: blue;
  margin-left: 5px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
